.content {
  width: 80%;
  margin: 0 auto;
}

.btn_box {
  width: 500px;
}

.input_box {
  width: 100%;
}

.bottomBtnBox {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
