.wrapper {
  // padding: 0 24px;
  display: flex;
  width: 100%;
  height: 100vh;
}

.content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.inputBox {
  width: 100%;
}

.boxDown {
  width: 100%;
  transition: all 0.2s ease;
  transform: translateY(50px);
}

.boxDown2 {
  width: 100%;
  transition: all 0.2s ease;
  transform: translateY(100px);
}

.boxDown3 {
  width: 100%;
  transition: all 0.2s ease;
  transform: translateY(150px);
}

.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(180px);
}
