$primary-color: #1b64da;

$gray100: #fff;
$gray300: #e2e4e6;
$gray600: #1e1e25;

$greyOpacity200: rgba(0,27,55,0.1);

:export {
  primary-color: $primary-color;

  gray100: $gray100;
  gray300: $gray300;
  gray600: $gray600;

  greyOpacity200: $greyOpacity200;
}
