$primary-color: #1b64da;

$gray100: #fff;
$gray300: #e2e4e6;
$gray400: #9ba0a9;
$gray600: #1e1e25;

$red500: #f04452;

$greyOpacity200: rgba(0,27,55,0.1);
$greyOpacity300: rgba(0,29,58,0.18);

:export {
  primary-color: $primary-color;

  gray100: $gray100;
  gray300: $gray300;
  gray400: $gray400;
  gray600: $gray600;

  greyOpacity200: $greyOpacity200;
  greyOpacity300: $greyOpacity300;

  red500: $red500;
}
