$t1: 30px;
$t2: 29px;
$t3: 27px;
$t4: 26px;
$t5: 23px;
$t6: 22px;
$t7: 20px;
$t8: 19px;
$t9: 17px;
$st1: 16px;
$st2: 15px;
$st3: 14px;
$st4: 13px;
$st5: 12px;
$st6: 9px;


:export {
    t1: $t1;
    t2: $t2;
    t3: $t3;
    t4: $t4;
    t5: $t5;
    t6: $t6;
    t7: $t7;
    t8: $t8;
    t9: $t9;
    st1: $st1;
    st2: $st2;
    st3: $st3;
    st4: $st4;
    st5: $st5;
    st6: $st6;
}
