@use './../../../styles/index.module.scss' as colors;

.button {
    height: 50px;
    background-color: colors.$primary-color;
    border: none;
    border-radius: 18px;
    color: colors.$gray100;
    font-size: 16px;

    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.26;
        cursor: not-allowed;
    }
}

.S {
    width: 22%
}

.M {
    width: 48%
}

.L {
    width: 100%;
}
