@use './../../../styles/index.module.scss' as colors;

.button {
    height: 50px;
    background-color: colors.$primary-color;
    border: none;
    border-radius: 10px;
    color: colors.$gray100;
    font-size: 16px;
    a {
      color: colors.$gray100;
      text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.26;
        cursor: not-allowed;
    }
}

.S {
    max-width: 30%;
    width: auto;
    height: 35px;
}

.M {
    width: 48%;
}

.L {
    width: 100%;
}
