@use '../../../styles/index.module.scss' as fontSize;

.typography {
    display: inline-block;
}

.t1{
    font-size: fontSize.$t1;
}

.t2{
    font-size: fontSize.$t2;
}

.t3{
    font-size: fontSize.$t3;
}

.t4{
    font-size: fontSize.$t4;
}

.t5{
    font-size: fontSize.$t5;
}

.t6{
    font-size: fontSize.$t6;
}

.t7{
    font-size: fontSize.$t7;
}

.t8{
    font-size: fontSize.$t8;
}

.t9{
    font-size: fontSize.$t9;
}

.st1{
    font-size: fontSize.$st1;
}

.st2{
    font-size: fontSize.$st2;
}

.st3{
    font-size: fontSize.$st3;
}

.st4{
    font-size: fontSize.$st4;
}

.st5{
    font-size: fontSize.$st5;
}

.st6{
    font-size: fontSize.$st6;
}
