@use '../../../styles/colors.module.scss' as colors;



.selectBottomSheet_wrap {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-bottom: 3px solid #5fa8d3;
  background-color: #fff;
}

.select_box_wrap {
  overflow: hidden;
}

.select_label {
  display: inline-block;
  font-size: 14px;
  color: #5fa8d3;
  margin-bottom: 5px;
}

.selectedItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.selected_span {
  display: inline-block;
  color: #9d9d9d;
}


.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

.bottomSheetDim {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-10%, -22.7%);
  background-color: rgba(30, 30, 27, 0.4);
  transition:all .3s ease;
  z-index: 1000;
}

.bottomSheetBox {
  width: 80%;
  height: 360px;
  background-color: #fff;
  border-radius: 15px;
  animation: up 0.1s ease-in forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.topBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}


@keyframes up {
  from {
    transform: translate(10%, 100%);
  }
  to {
      transform: translate(13%, 52%);
  }
}

// /* 작은 화면 크기를 위한 keyframes */
@media only screen and (min-width: 320px) {
  @keyframes up {
    from {
      transform: translate(5%, 100%);
    }
    to {
      transform: translate(5%, 52%);
    }
  }
}

// /* 작은 화면 크기를 위한 keyframes */
@media only screen and (min-width: 375px) {
  @keyframes up {
    from {
      transform: translate(7%, 100%);
    }
    to {
      transform: translate(7%, 52%);
    }
  }
}

@media only screen and (min-width: 425px) {
  @keyframes up {
    from {
      transform: translate(7%, 100%);
    }
    to {
      transform: translate(7%, 52%);
    }
  }
}

@media only screen and (min-width: 768px) {
  @keyframes up {
    from {
      transform: translate(11%, 100%);
    }
    to {
      transform: translate(11%, 52%);
    }
  }
}

@media only screen and (min-width: 768px) {
  @keyframes up {
    from {
      transform: translate(9%, 100%);
    }
    to {
      transform: translate(9%, 52%);
    }
  }
}

@media only screen and (min-width: 1024px) {
  @keyframes up {
    from {
      transform: translate(11%, 100%);
    }
    to {
      transform: translate(11%, 52%);
    }
  }
}

@media only screen and (min-width: 1440px) {
  @keyframes up {
    from {
      transform: translate(11%, 100%);
    }
    to {
      transform: translate(11%, 52%);
    }
  }
}




.listBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.listItem {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
}

.listItem:active {
  width: 100%;
  background-color: colors.$gray300;
}
